<div class="w-[1152px] mx-[auto]">
    <app-header></app-header>
    <section class="w-full">
        <div class="container flex  mx-auto  w-[1152px]   ">
            <div class=" mt-[27px] w-[65%] ml-[237px]">
                <h2 class="text-[#21243D] text-[34px] w-[506px] font-bold" >Hi, I am John,<br> Creative Technologist</h2>
                <p class="pr-[110px] text-[13px] pt-[21.2px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <button class="bg-red-500 hover:bg-cyan-600  w-[167px] h-[38px] mt-[23.2px] ">Download Resume</button>
            </div>
            <div class="image mr-[228px] mt-[21px] w-[35%]">
                <img src="https://mdbootstrap.com//img/Photos/Square/1.jpg
            " class="ml-auto w-[199px] h-auto rounded-full object-cover " alt="">
            </div>
        </div>
    </section>
    <section class=" mt-[60px] w-full ">
        <div class="container w-[921px] ml-[116px] bg-[#EDF7FA] h-[320px]">
            <div class=" flex justify-between ">
                <div class="w-[129px] h-[60px] ml-[118px] pt-[16px] text-[18px] ">
                    <a href="">Recent posts</a>
                </div>
                <div class="w-[208px] h-[20px] pl-[40px] pt-[18px] text-[#00A8CC] text-[18px]">
                    <a class="text-[14px]"  href="">View all</a>
                </div>              
            </div>
            <div class="grid grid-cols-2 gap-3 justify-between ">
                <div class="bg-[#FFFFFF] ml-[116px] h-[234px] ">
                    <div class="w-full h-[55px] pl-[20px] pr-[10px] pt-[15px] text-[20px] font-bold">
                        <h2>Making a design system from scratch</h2>
                    </div>
                    <div class="mt-[40px] pl-[20px]">
                        <p>12 Feb 2020 | Design,Pattern</p>
                    </div>
                    <div class="mt-[14px] pl-[20px] pr-[30px] text-[13px]">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                            enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="bg-[#FFFFFF] mr-[116px] h-[234px]">
                    <div class="w-full h-[55px] pl-[20px] pr-[10px] pt-[15px] text-[20px] font-bold">
                        <h2>Making a design system from scratch</h2>
                    </div>
                    <div class="mt-[40px] pl-[20px]">
                        <p>12 Feb 2020 | Design,Pattern</p>
                    </div>
                    <div class="mt-[14px] pl-[20px] pr-[30px] text-[13px]">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                            enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full ">
        <div class="container w-[921px] ml-[116px] mb-[10px]">
            <div class="pl-[119px] pt-[10px] h-[70px]">
                <h3 class="text-[18px]">Featured works</h3>
            </div>
            <div class="grid grid-rows-1 w-full ">
                <div class="mt-[7px] w-full flex  ">
                    <div class="w-[36%] pl-[115px] ">
                        <img class="w-[200px] h-[144px] rounded-lg" src="https://image-us.24h.com.vn/upload/1-2018/images/2018-02-05/Hay-nho-rang-minh-la-cau-thu-bong-da-khong-phai-dien-vien-61c0e5b1-bbef-46d0-ad57-e34b9cbb248e-1517788264-156-width660height415.jpg"
                            alt="">
                    </div>
                    <div class="w-[64%] h-[144px] ">
                        <h3 class="font-bold text-[23px] mb-[10px]">Designing Dashboards</h3>
                        <button class="bg-[#142850] w-[50px] rounded-full mb-[10px] text-white mr-[20px]">2020</button> <a href="">Dashboard</a>
                        <p class="text-[12px] pr-[150px] ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div> <hr class="mt-[14px] ml-[119px] mr-[60px]" > 
                <div class="mt-[20px] w-full flex  ">
                    <div class="w-[36%] pl-[115px] ">
                        <img class="w-[200px] h-[144px] rounded-lg" src="https://image-us.24h.com.vn/upload/1-2018/images/2018-02-05/Hay-nho-rang-minh-la-cau-thu-bong-da-khong-phai-dien-vien-61c0e5b1-bbef-46d0-ad57-e34b9cbb248e-1517788264-156-width660height415.jpg"
                            alt="">
                    </div>
                    <div class="w-[64%] h-[144px] ">
                        <h3 class="font-bold text-[23px] mb-[10px]">Designing Dashboards</h3>
                        <button class="bg-[#142850] w-[50px] rounded-full mb-[10px] text-white mr-[20px]">2020</button> <a href="">Illustration</a>
                        <p class="text-[12px] pr-[150px] ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div> <hr class="mt-[14px] ml-[119px] mr-[60px]" >
                <div class="mt-[20px] w-full flex  ">
                    <div class="w-[36%] pl-[115px] ">
                        <img class="w-[200px] h-[144px] rounded-lg" src="https://image-us.24h.com.vn/upload/1-2018/images/2018-02-05/Hay-nho-rang-minh-la-cau-thu-bong-da-khong-phai-dien-vien-61c0e5b1-bbef-46d0-ad57-e34b9cbb248e-1517788264-156-width660height415.jpg"
                            alt="">
                    </div>
                    <div class="w-[64%] h-[144px] ">
                        <h3 class="font-bold text-[23px] mb-[10px]">Designing Dashboards</h3>
                        <button class="bg-[#142850] w-[50px] rounded-full mb-[10px] text-white mr-[20px]">2020</button> <a href="">Typography</a>
                        <p class="text-[12px] pr-[150px] ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div> <hr class="mt-[14px] ml-[119px] mr-[60px]" >
            </div>
        </div>
    </section>
    <footer>
        <div class="mt-[100px] w-[100px] ml-[576px] flex">    
            <ul class="flex">
                <li class="pr-[10px]"><i class="fa-brands fa-facebook-square"></i></li>
                <li  class="pr-[10px]"><i class="fa-brands fa-instagram"></i></li>
                <li  class="pr-[10px]"><i class="fa-brands fa-twitter"></i></li>
                <li  class="pr-[10px]"> <i class="fa-brands fa-linkedin"></i></li>
            </ul>
        </div>
        <div class="ml-[490px] mb-[40px]">
            Copyright ©2020 All rights reserved 
        </div>
                 
          
    </footer>   
   </div>
