<app-header></app-header>
<router-outlet></router-outlet>


<!-- <p>string : {{ productName }}</p>
<p>{{ productPrice}}</p>
<p>{{productStatus}}</p>
<p>Info: {{ productInfo.name }} - {{ productInfo.price }} - {{ productInfo.status }} </p>

<p>List: ...</p>
<button  (click)="onHandleClick()" >click</button>
<form action="">
    <input
     type="text"
     (keypress)="onHandleKeypress($event)"
     value="{{title}}"
    
    />
    {{title}}
</form>
<hr>
    <input
     type="text"[(ngModel)]="title"
     value="{{title}}"
    
    />
    {{title}}

<div *ngIf="productStatus">
    <table class="table table-bordererd">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
      <td>
        <button (click)="removeProduct(product.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<hr /> -->