<table  class="table table-bordered">
    <tbody>
        <a href="/product/add">add</a>
        <tr *ngFor="let product of productList ; let i = index">
            <td>{{i + 1}}</td>
            <td>{{product .name }}</td>
            <td>{{product .price }}</td>
            <td>
                <button class="btn btn-info" routerLink="/product/edit/{{product.id}}" >update</button>
            </td>
            <td>
                <button (click)="onRemove(product.id!)" class="btn btn-info" >xoa</button>
            </td>
            <td>
                <button class="btn btn-info" routerLink="/product/{{product.id}}">details</button>
            </td>
        </tr>
    </tbody>
</table>



